.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 195px;
    gap: 30px;
    background: #2B2B2B; 
}

.hero-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 50%;
}

.hero-content-sup{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
}

.hero-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
    width: 224px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
}

.hero-button-icon{
    width: 20px;
    height: 20px;
}

.hero-button-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #FFFFFF;
}

.hero-content-sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
}

.hero-addition-infor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
}

.total-sale{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.total-sale-sup{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.total-sale-sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    /* or 38px */
    text-transform: capitalize;
    color: #FFFFFF;
}

.hero-bg{
    width: 510px;
    // height: 537px;
    border-radius: 30px;
}

.top-selling{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 195px;
    gap: 60px;
    background: #2B2B2B;
}

.top-selling-head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    // gap: 450px;
    // width: 100%;
}

.top-selling-head-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.top-selling-content-sup{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.top-selling-content-sup-style{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.top-selling-content-sub {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.top-selling-content-sub-style{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
}

.top-selling-button-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 100px;
    // padding: 0px 50px;
    position: absolute;
    right: 200px;
}

.top-selling-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 2px solid #A259FF;
    border-radius: 20px;
    width: 237px;
    height: 60px;
}

.top-selling-accounts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    width: 100%;
}

.top-selling-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    isolation: isolate;
    background: #3B3B3B;
    border-radius: 20px;
    width: 240px;
    height: 238px;
    position: relative;
}

.top-selling-ranking{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 18px;
    background: #2B2B2B;
    border-radius: 30px;
}

.top-selling-ranking-number{
    position: relative;
    width: 10px;
    height: 22px;
    left: calc(50% - 10px/2);
    top: calc(50% - 22px/2);
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #858584;
}

.top-selling-netflix{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    isolation: isolate;
    width: 120px;
    height: 120px;
}

.top-selling-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

.top-selling-card-name{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.top-selling-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.top-selling-price-key{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: right;
    color: #858584;
}

.top-selling-price-val{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
}

.nft{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    background: url(../assets/nft_bg_2.png);
    background-size: cover;
}

.nft-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    // padding: 360px 195px 60px;
    width: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
}

.nft-contents{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 360px 195px 60px;
    width: 100%;
}

.nft-sale-infor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
}

.trusted-mark{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;
    background: #3B3B3B;
    border-radius: 20px;
}

.trusted-mark-cont{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
}

.nft-sup{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    /* or 56px */
    text-transform: capitalize;
    color: #FFFFFF;
}

.nft-shop-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 50px;
    gap: 12px;
    // width: 210px;
    // height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
}

.shop-btn-icon{
    width: 20px;
    height: 20px;
}

.shop-btn-cont{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #2B2B2B;
}

.nft-timer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    gap: 10px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    // margin-left: 750px;
}

.timer-cont{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */
    color: #FFFFFF;
}

.timer-clock{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.timer-cell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}

.timer-cell-number{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.timer-cell-cont{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */
    color: #FFFFFF;
}

.how{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 195px;
    gap: 48px;
    position: relative;
    background: #2B2B2B;
}

.how-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.how-cont-sup{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    /* identical to box height, or 46px */
    text-transform: capitalize;
    color: #FFFFFF;
}

.how-cont-sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    text-transform: capitalize;
    color: #FFFFFF;
}

.how-cards{
    display: grid;
    // flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0px;
    gap: 50px;
    isolation: isolate;
    width: 100%;
}

.how-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 30px;
    gap: 20px;
    // width: 330px;
    height: 373px;
    background: #3B3B3B;
    border-radius: 20px;
}

.how-item-img{
    width: 250px;
    // height: 250px;
}

.how-item-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.how-item-sup{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.how-item-sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #FFFFFF;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 195px;
    gap: 10px;
    position: relative;
    background: #2B2B2B;
}

.subscribe-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    gap: 20%;
    // width: 1050px;
    // height: 430px;
    background: #3B3B3B;
    border-radius: 20px;
    width: 90%;
}

.subscribe-image{
    width: 340px;
    // height: 310px;
    border-radius: 20px;
}

.subscribe-widget{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.subscribe-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.subscribe-cont-sup{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    /* or 46px */
    text-transform: capitalize;
    color: #FFFFFF;
}

.subscribe-cont-sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    text-transform: capitalize;
    color: #FFFFFF;
}

.subscribe-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    gap: 12px;
    // width: 100%;
    // height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
}

.subscribe-form-input{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #2B2B2B;
}

.subscribe-form-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 0px 50px;
    gap: 12px;
    width: 211px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    margin-left: 150px;
}

.btn-icon{
    width: 20px;
    height: 20px;
}

.subscribe-btn-cont{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #FFFFFF;
}

@media(max-width:1400px) {
    .hero{
        padding: 60px 50px;
    }
    .top-selling{
        padding: 60px 50px;
    }
    .how{
        padding: 60px 50px;
    }
    .subscribe{
        padding: 60px 50px;
    }
}

@media (max-width:1200px){
    .hero{
        padding: 60px 30px;
    }
    .top-selling{
        padding: 60px 30px;
    }
    .how{
        padding: 60px 30px;
    }
    .how-item{
        width: 210px;
        gap: 0;
    }
    .subscribe{
        padding: 60px 30px;
    }
    .top-selling-accounts{
        gap: 30px;
    }
    .nft{
        background: url(../assets/nft_bg.png);
        background-size: cover;
    }
    .subscribe-container{
        width: 80%;
        gap:5%
    }
    .subscribe-form-btn{
        margin-left: 50px;
    }
}

@media (max-width:1000px) {
    .hero-bg{
        width: 100%;
        // height: 429.6px;
    }
    .top-selling-button-container{
        right: 20px;
    }
    .top-selling-accounts{
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .top-selling-card{
        flex-direction: row;
        width: 280px;
        height: 90px;
        padding: 0 0 0 50px;
    }
    .top-selling-netflix{
        width: 60px;
        height: 60px;
    }
    .nft-contents{
        flex-direction: column;
        padding: 180px 100px 60px;
        gap: 30px;
    }
    .subscribe-image{
        width: 290px;
    }
    .subscribe-cont-sup{
        font-size: 30px;
    }
    .subscribe-cont-sub{
        font-size: 18px;
    }
    .subscribe-container{
        gap:2%;
        width:85%;
    }
    .how-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .how-item{
        flex-direction: row;
        height: 150px;
        padding: 30px;
        gap: 10%;
        width: auto;
    }
    .how-item-img{
        width: 200px;
    }
}

@media(max-width:768px) {
    .hero-container{
        flex-direction: column;
    }
    .hero-content{
        width:100%
    }
    // .hero-bg{
    //     width:510px;
    //     height:537px;
    // }
    .top-selling-accounts{
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .top-selling-card{
        flex-direction: row;
        width: 80%;
        height: 100px;
        padding: 10px 10px 10px 15%;
        gap: 20%;
    }
    .top-selling-ranking{
        left: 95px;
        top: 23px;
        z-index: 3;
    }
    .top-selling-button-container{
        position: relative;
        margin-top: 30px;
    }
    .top-selling-head{
        flex-direction: column;
    }
    .nft{
        background: url(../assets/nft_bg_3.png);
        background-size: cover;
    }
    .nft-shop-button{
        position: absolute;
        bottom: 50px;
        left: 10%;
        width: 60%;
        gap: 30px;
    }
    .nft-contents{
        padding: 180px 0 160px;
        align-items: center;
    }
    .nft-timer{
        width:70%
    }
    .timer-clock{
        gap: 30px;
    }
    .shop-btn-icon{
        width:30px
    }
    
    .how-item-img{
        width: 100px;
        // height: 150px;
    }
    .subscribe-container{
        flex-direction: column;
        gap: 100px;
        background: none;
        width:70%;
    }
    .subscribe-image{
        width: 100%;
    }
}